@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

body {
  font-family: 'Jost', sans-serif;
}

.switch-wrapper {
  transition: 500ms all;
}



.left-panel {
  width: 20%;
  margin-top: 2.5em;
  padding-right: 2em;
}

.right-panel {
  margin-top: -2em;
  width: 80%;
  padding-left: 1em;
  padding-right: 2em;
}

.hit-wrapper {
  display: flex;
  width: 100%;
}

.hitList {
  margin-top: 2em;
  margin-bottom: 3em;
}


.hitsMap {
  height: 25em; 
  width: 100%;
}

.mapSide {
  padding-left: 2em;
  max-width: 40%;
}


.ais-GeoSearch-map {
  border-radius: 20px;
  margin-top: 2.85em;
  box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
}

/* SEARCH BOX */

.ais-SearchBox {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 4em;
}

.ais-SearchBox-input {
  width: 100%;
  border-radius: 10px;
  border: none;
  height: 3em;
  background: #ffffff;
  box-shadow: 0px 5px 30px -12px rgba(58, 63, 69, 0.219);
  padding-left: 3.5em;
  transition: all ease-in 100ms;
  border: rgba(132, 132, 132, 0.142) solid 0.1px;
}

.ais-SearchBox-input::placeholder {
  font-size: 1.2vw;
}

.ais-SearchBox-input:focus {
  transition: all ease-in 100ms;

  outline: currentcolor none medium;
}

.ais-SearchBox-input:hover {
  transition: all ease-in 100ms;

  outline: currentcolor none medium;
}
.ais-SearchBox-submit {
  margin-left: 1em;
}

.ais-SearchBox-reset {
  margin-right: 1vw;
}

.ais-SearchBox-reset[hidden] {
    display: none; 
}
.icon {
  height: 1em;
  margin-bottom: 0.2em;
}

.search-sort {
  margin-top: 1em;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

/* HITS */

.each-hit {
  display: flex;
  height: 100%;
}

.ais-Hits-item, .ais-InfiniteHits-item, .ais-InfiniteResults-item, .ais-Results-item 
{
  /* border: red solid !important; */
  height: 20vw;
  cursor: pointer;
  padding: 0px;
  width: 100%;
  border-radius: 20px;
  background: #ffffff;
  box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  border: none;  
}

.hit-details {
  padding-top: 1em;
  padding-left: 1em;
  width: 40%;
}

.hit-name {
  color: #111111;
  font-weight: 700;
  width: 100%;
}

.hit-description {
  color: #888;
  font-size: 14px;
}

.overlay-container {
  position: relative;
  width: 60%;
  height: 100%;
}

.overlay {
  border-radius: 0px 0px 0px 20px;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.594));
  color: #f1f1f1;
  width: 100%;
  font-size: 16px;
  padding-right: 1em;
  text-align: end;
  height: 15%;
  
}

.hit-image {
  margin: none;
  padding: none;
  height: 100%;
  width: 100%;
  border-radius: 20px 0px 0px 20px;
}

.hit-price-city {
  display: flex;
  justify-content: space-between;
  color: #111111;
  font-family: 'Jost', sans-serif;
  align-items: center;
  height: 2em;
}

.hit-city {
  line-height: 150%;
  font-weight: 400;
  max-width: 7em;
}

.hit-price {
  font-weight: 700;
  margin-right: 0.5em;
  font-size: 1.5vw;
  margin: 0;
}

.sqrft-bhk {
  font-size: 1vw;
  margin-bottom: 0.5em;
}

.builder-name {
  font-size: 1vw;
  margin: 0;
}


.location-marker {
  height: 2em;
  margin-right: 2em;
}


/* TEXT NAME CLASSES */

.hit-name .ais-Highlight-nonHighlighted, .hit-name .ais-Highlight-highlighted {
  font-weight: 700;
  font-size: 1.5vw;
}
.hit-city .ais-Highlight-nonHighlighted, .hit-city .ais-Highlight-highlighted {
  font-weight: 400;
  font-size: 1vw;
}



/* STATS */

.stats {
  margin-left: 0.3em;
  margin-bottom: 4em;
}

/* Pagination */

.ais-Pagination {
  margin-top: 1em;
  margin-bottom: 20px;
}
.ais-Pagination-item{
  border-radius: 5px; 
}

.ais-Pagination-item--selected .ais-Pagination-link{
  border-radius: 5px;
  background-color: tomato;
  color: #ffffff;
}

.ais-Pagination-link{
  text-align: center;
  align-items: center;
  padding-top: 0.8em;
  padding-bottom: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  height: 3em;
  width: 3em;
  background-color: #ffffff;
  color: tomato;
  font-weight: 400;
  font-family: 'Jost', sans-serif;
  border: 0px;
  box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
}

.ais-Pagination-link:hover {
  color: tomato;
  background-color: rgb(254, 236, 232);
}

.ais-Pagination-item--selected .ais-Pagination-link:hover {
  color: #fff;
  background-color: tomato;
}


.title-text {
  
  font-weight: 700;
  font-family: 'Jost', sans-serif;
  font-size: 4vw;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.6em;
}

.title-link {
  color: #111;
  text-decoration: none;
  transition: 300ms all ease;
}

.title-link:hover {
  color: #111;
  transition: 300ms all ease;
  background: linear-gradient(to right, #ffa760 , #ff5d83);
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navflex {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  justify-self: center;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarr {
  display: flex;
  margin: auto;

  align-items: center;
  /* justify-content: space-between; */
  padding: 0;
  box-shadow:  10px 10px 20px #d9d9d99d,
              -10px -10px 20px #e0e0e052;
  border-radius: 20px;
}

.rental-button, .rental-button:hover {
  text-decoration: none;
  color: #111;
  font-weight: 400;
  font-family: 'Jost', sans-serif;
  font-size: 2vw;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 20px 20px 20px 20px;
  /* background-color: tomato; */
}


.sale-button, .sale-button:hover {
  float: right;
  text-decoration: none;
  color: #111;
  font-weight: 400;
  font-family: 'Jost', sans-serif;
  font-size: 2vw;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 1.15em;
  padding-right: 1.15em;
  border-radius: 20px 20px 20px 20px;
  /* background-color: tomato; */
}

.active-tab, .active-tab:hover {
  color: #ffffff;
  -webkit-background-image: linear-gradient(to right, #ffa760 , #ff5d83);
	-moz-background-image: linear-gradient(to right, #ffa760 , #ff5d83);
	-ms-background-image: linear-gradient(to right, #ffa760 , #ff5d83);
	-o-background-image: linear-gradient(to right, #ffa760 , #ff5d83);
  background-image: linear-gradient(to right, #ffa760 , #ff5d83);
}


.footer {
  background-color: #222;
  height: 20em;
  margin-top: 4em;
  color: #ffffff;
}

.test {
  border: red solid;
}

.unstyled {
  text-decoration: none;
  color: #ffffff;
}

.unstyled:hover {
  text-decoration: none;
  color: #ffffff;
}

.footer-text {
  padding-top: 2em;
  font-family: 'Jost', sans-serif;
}

.footer-text-bottom {

  font-family: 'Jost', sans-serif;
}

.main-area {
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
}

.pagination-wrapper {
  display: flex;
}

/* SIDEBAR */

.sidebar-heading {
  margin-top: 1em;
  margin-bottom: 0.7em;
  font-size: 2vw;
}

.sqrft-fact {
  margin-bottom: 4em;
  padding-left: 0.5em;
}

.ais-ClearRefinements-button {
  -webkit-background-image: linear-gradient(to right, #ffa760 , #ff5d83);
	-moz-background-image: linear-gradient(to right, #ffa760 , #ff5d83);
	-ms-background-image: linear-gradient(to right, #ffa760 , #ff5d83);
	-o-background-image: linear-gradient(to right, #ffa760 , #ff5d83);
  background-image: linear-gradient(to right, #ffa760 , #ff5d83);
  width: 100%;
}

.DefaultProgressBar_progressBar {
  height: 100%;
  margin-top: -0.1em;
  -webkit-background-image: linear-gradient(to right, #ffa760 , #ff5d83);
	-moz-background-image: linear-gradient(to right, #ffa760 , #ff5d83);
	-ms-background-image: linear-gradient(to right, #ffa760 , #ff5d83);
	-o-background-image: linear-gradient(to right, #ffa760 , #ff5d83);
  background-image: linear-gradient(to right, #ffa760 , #ff5d83);
}

.ais-CurrentRefinements {
  margin-top: -2em;
}

.ais-CurrentRefinements:not(.ais-CurrentRefinements--noRefinement) {
  padding-left: 0.3em;
  margin-bottom: -0.4em;
  margin-top: -3.65em;
}

.ais-CurrentRefinements-item {
  background-color: #2a425d;
}

.ais-RefinementList-labelText {
  padding-left: 0.5em;
  color: #111;
  font-size: 1.5vw;
}

.ais-RefinementList-item {
  transition: all 1000ms ease;
}

.ais-RefinementList-count {
  background-color: rgba(255, 99, 71, 0.267);
  color: rgb(64, 28, 22);
  font-size: 1.3vw;
}


.range-box {
  border-radius: 10px;
  border: solid #d9d9d94d 1px;
  box-shadow:  5px 5px 20px -8px #d9d9d9;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  width: 100%;
  font-size: 1.5vw;
}

.range-box::placeholder {
  padding-left: 0.7em;
}

.to-text {
  text-align: center;
}

.btn-success {
  margin-top: 0.5em;
  margin-left: 0.5em;
  font-size: 12px !important;
  width: 80%;
  border: none !important;
  background-image: linear-gradient(to right, #ffa760 , #ff5d83) !important;
  border-radius: 20px !important;

  box-shadow:  5px 5px 20px -10px #afafaf,
             -5px -5px 20px -10px #a8a8a8 !important;
}




/* PROPERTY DETAILS PAGE */
.prop-details-top {
  margin-top: 3em;
  display: flex;
}


.big-image {
  border-radius: 20px;
  box-shadow:  10px 10px 20px #d9d9d99d,
              -10px -10px 20px #e0e0e052;
}

.title-price {
  display: flex;
  align-items: center;
}

.project-title {
  font-weight: 700;
  font-size: 38px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 1.3em;
}

.project-price {
  font-weight: 700;
  font-size: 38px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 5em;
}

.project-citystreet {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0.5em;
  padding-left: 2.5em;
}

.location-marker-detail {
  height: 1.5em;
  margin-right: 0.6em;
  margin-bottom: 0.2em;
}

.project-info {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0.5em;
  padding-left: 2.5em;
}

.bottom-detail-heading {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 0.5em;
}

.prop-details-bottom {
  margin-top: 3em;
  display: flex;
}

.project-info-bottom {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0.5em;
}

.right-bottom {
  padding-left: 10em;
}

.amenities-text {
  margin-top: 0.5em;
}


/* Map */

.gm-style-pbc, .gm-style, .gm-style-pbt, .map-overlay, .map-overlay > div, .map-overlay div div {
  border-radius: 20px !important;
}

.map-overlay {
  margin-top: 2em;
  box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
}

.float-left {
  color: #111;
}
.float-left:hover {
  fill: url(#MyGradient);
}

.myPath:hover {
  fill:url(#MyGradient);
}


/* Tool Tip */

.map-tool-tip {
  background-color: #fff;
  border-radius: 20px;
  height: 15em;
  width: 12em;
}

.tool-tip-prop-name {
  color: #111;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  margin-top: 0.1em;
  margin-bottom: 0.8em;
}

.tool-tip-loc {
  color: #111;
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  margin-top: -0.3em;
}

.tool-tip-price {
  color: #111;
  font-size: 12px;
  text-align: center;
  font-weight: 700;
  margin-top: -0.3em;
}

.overlay-container-tip {
  position: relative;
}


.overlay-tip {
  position: absolute;
  top: 0;
  color: #f1f1f1;
  width: 100%;
  color: white;
  font-size: 16px;
  padding-top: 0.2em;
  padding-right: 0.5em;
  text-align: end;
  height: 50%;
}

.close-btn {
  cursor: pointer;
}

.github-icon img {
  float: right;
  margin-right: 3.5em;
  height: 3.5vw;
}

.youtube-icon img{
  float: right;
  margin-left: 2em;
  margin-right: 2em;
  height: 3.5vw;
}


/* Toast */

.toast {
  border: 0px !important;
  border-radius: 20px !important;

  box-shadow:  5px 5px 20px  #d9d9d9ce,
             -5px -5px 20px  #ffffffce !important;
}

.toast-header {
  border-radius: 20px !important;
  display: block !important;
}

.toast-comp {
  border-radius: 20px !important;
  margin-top: -2em;
  margin-bottom: -2em;
}

.remove-toast {
  opacity: 0;
  height: 0em;
}

.toast-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.close-btn-toast {
  cursor: pointer;
}

.toast-title {
  margin-bottom: 0em;
}

.container-fluid {
  padding: 0 !important;
}
.jumbotron-main {
  height: 50vh;
  background-image: linear-gradient(to right, #ffa760 , #ff5d83) !important;
}

.about-heading {
  color: #fff;
  font-weight: 700;
  font-size: 60px;
  padding-top: 10%;
  text-align: center;
}

.content-1 {
  font-size: 18px;
  margin-top: 5em;
  padding-left: 15em;
  padding-right: 15em;
}

.about-head {
  font-weight: 700;
}

.about-head-mini {
  font-weight: 500;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 20px;
}

.about-note {
  border-radius: 10px;
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 0.1em;
  margin-bottom: 2em;
  margin-top: 2em;
  background-image: linear-gradient(to right, #ffa7606b , #ff5d8363);
  box-shadow:  10px 10px 40px  #d9d9d9c0,
             -10px -10px 40px  #ffffffc0;
}

.gif-bar {
  display: flex;
}

.gif-bar img {
  border-radius: 20px;
  margin-top: 2em;
  margin-left: 5em;
  height: 20em;
  box-shadow:  20px 20px 60px  #d9d9d9,
             -20px -20px 60px  #ffffff;
}


/* SORT BY BOX */

.ais-SortBy-select {
  border-radius: 8px;
  padding-left: 1em;
  height: 3em;
  border: rgba(132, 132, 132, 0.142) solid 0.1px;
  box-shadow:  10px 10px 30px -10px #d9d9d9c0,
             -10px -10px 30px -10px #ffffffc0;
}

.ais-SortBy-select:focus {
  outline: none !important;
  border: rgba(0, 0, 0, 0.6) solid 2.5px;
}

/* MEMOJI */

.memoji-row {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.memoji {
  height: 10em;
  margin-left: -1.5em;
  margin-right: -1.5em;
}


/* HOTKEYS */

.search-hotkeys {
  display: flex;
  position: absolute;
  right: 22em;
}



.search-hotkeys img {
  height: 2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  -webkit-filter: drop-shadow(0px 2px 5px rgba(34, 34, 34, 0.163));
  filter: drop-shadow(0px 2px 5px rgba(34, 34, 34, 0.163));
}


/* RESPONSIVE */

@media only screen and (max-width: 1023px) {
  .search-hotkeys {
    display: none;
    position: absolute;
  } 

  .ais-SearchBox-input::placeholder {
    font-size: 1.3vw;
  }

}

@media only screen and (max-width: 767px) {
  .left-panel {
    display: none;
  }
}

@media only screen and (max-width: 1439px) {

  .hit-name .ais-Highlight-nonHighlighted, .hit-name .ais-Highlight-highlighted {
    font-weight: 700;
    font-size: 1.5vw;
  }

  .hit-city {
    line-height: 80%;
    margin-bottom: 0.5em;
  }

  .hit-name, .hit-description, .hit-price, .sqrft-bhk, .builder-name {
    margin: 0;
  }

  .hit-details {
    padding-top: 0.7em;
  }
}


